body {
  margin: 0;
  font-family: Arial, sans-serif;
}

header {
  background: #111;
  color: white;
  padding: 15px;
  display: flex;
  justify-content: space-between;
}

nav a {
  color: white;
  margin-left: 15px;
  text-decoration: none;
}

section {
  padding: 40px;
}

#inicio {
  background: #f4f4f4;
  text-align: center;
}

h2 {
  margin-bottom: 10px;
}
